<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Таблица пользователей</title>
</head>
<body>
<table border="1">
    <thead>
    <tr>Таблица пользователей</tr>
    </thead>
    <tbody>
    <tr>
        <th>Номер </th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>Изменить данные</th>
    </tr>
    <tr th:each="user : ${usersList}">
        <td th:text="${user.id}">Id</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.lastname}">Lastname</td>
        <td th:text="${user.age}">Age</td>

        <td>
            <a th:href="@{'/edit/'+${user.id}}">редактировать</a>
            <a th:href="@{'/delete/'+${user.id}}">удалить</a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{'/add'}">Добавить нового пользователя</a>
</body>
</html>